body header {
  background-image: url("../images/bg/BG.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
body header nav {
  background: rgba(94, 93, 88, 0.6);
}
body header nav .container {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
body header nav .container .logo {
  width: 100%;
}
body header nav .container .navigation ul {
  display: flex;
  gap: 21px;
  align-items: center;
}
body header nav .container .navigation ul li {
  padding: 48.5px 0;
  border-bottom: 3px solid transparent;
}
body header nav .container .navigation ul li:hover {
  border-bottom: 3px solid #18cfab;
}
body header nav .container .navigation ul li:hover a {
  color: #18cfab;
}
body header nav .container .navigation ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
body header nav .container .navigation ul li i {
  color: rgba(255, 255, 255, 0.6);
}
body header .welcome {
  padding: 264px 0;
}
body header .welcome .text {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 134px;
}
body header .welcome .text h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
body header .welcome .text h3 span {
  color: #18cfab;
}
body header .welcome .text h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 78px;
  text-transform: uppercase;
  color: #ffffff;
}
body header .welcome .text h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
}
body header .welcome .btn-group {
  display: flex;
  justify-content: center;
  gap: 26px;
}
body header .welcome .btn-group button {
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 16px 17px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}
body header .welcome .btn-group button.color-aqua {
  background-color: #18cfab;
}
body header .welcome .btn-group button.color-aqua:hover {
  color: #18cfab;
  background-color: #ffffff;
}
body header .welcome .btn-group button.color-blue {
  background-color: #00cbf6;
}
body header .welcome .btn-group button.color-blue:hover {
  background-color: #ffffff;
  color: #00cbf6;
}
body main .top-section {
  padding: 20px 0;
}
body main .top-section .row {
  display: flex;
  width: 100%;
}
body main .top-section .row .box {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  line-height: 24px;
  text-transform: uppercase;
  padding: 100px 80px;
}
body main .top-section .row .box img {
  margin-bottom: 58px;
}
body main .top-section .row .box.dark {
  color: #18cfab;
  background-color: #1c2a33;
}
body main .top-section .row .box.blue {
  color: #fff;
  background-color: #18cfab;
}
body main .top-section .our-services {
  padding: 83px 0;
}
body main .top-section .our-services .container div h2 {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
}
body footer {
  background: #22353f;
  text-align: center;
  padding: 48px 0;
}
body footer .container p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}
body footer .container p span {
  color: #18cfab;
}/*# sourceMappingURL=index.css.map */